@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600;700&display=swap");

.wrapper {
  position: relative;
  width: 792px;
  min-height: 923px;
  background: #f2f0f9;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
}

.header__title {
  position: absolute;
  height: 29px;
  left: 106px;
  top: 32px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #6e6893;
}

.close {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 742px;
  top: 20px;
}

.modal {
  position: absolute;
  width: 580px;
  min-height: 620px;
  left: 106px;
  top: 104px;
  background: #ffffff;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  border: none;
  padding-top: 28px;
  padding-bottom: 20px;
}

.modal__label {
  padding-left: 38px;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.modal__input {
  width: 524px;
  min-height: 40px;
  margin: 8px 28px;
  border-radius: 6px;
  background-color: #f4f2ff;
  border: none;
  padding: 10px;
}

.modal__yes {
  width: 40px;
  height: 40px;
  left: 134px;
  top: 368px;
  border-radius: 6px;
}

.modal__checkbox_active {
  min-height: 40px;
  width: 474px;
  border-radius: 6px;
  background-color: #f4f2ff;
  display: inline-block;
  border: none;
  margin-left: 78px;
  padding: 10px;
}

.modal__subscribe {
  min-height: 112px;
  resize: none;
}

.modal__button {
  position: absolute;
  width: 200px;
  height: 39px;
  background: #6d5bd0;
  border-radius: 6px;
  position: absolute;
  left: 444px;
  top: 774px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #ffffff;
}

.checkbox {
  position: relative;
  display: block;
}

.checkbox__input {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-left: 28px;
  margin-top: 8px;
}

.checkbox__input:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
}

.checkbox__input:after {
  content: "";
  position: absolute;
  top: 12px;
  left: 10px;
  width: 20px;
  height: 10px;
  border: 3px solid black;
  border-top: none;
  border-right: none;
  opacity: 0;
  transform: rotate(-45deg);
}

.checkbox__input:focus-visible {
  outline: none;
}

.checkbox__input:checked:after {
  opacity: 1;
}

.checkbox__input:focus:before {
  box-shadow: 0px 0px 10px rgba(113, 0, 227, 0.5);
}

.checkbox__input:hover:not(:disabled):before {
  box-shadow: 0px 0px 10px rgba(0, 113, 227, 0.5);
}

.checkbox__input:disabled:before {
  background-color: #cccccc;
}
